body {
    background: #5865F2;
    display: flex;
    justify-content: center;
    height: 100vh;
}

*{
    box-sizing: padding-box;
}

form {
    width: 1000px;
    border: 3px solid rgb(177, 142, 142);
    padding: 20px;
    padding-bottom: 50px;
    background: rgb(64, 64, 64);
    border-radius: 20px;
}

.mainForm {
    height: 400px;
}

.studentForm {
    position: inherit;
    padding-bottom: 50px;
}


.foreleserImg {
    max-width: 150px; 
    max-height: 150px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
	color: white;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: rgb(35, 174, 202);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}




button:hover{
    opacity: .8;
    cursor: pointer;
}

.error {
   background: #F2DEDE;
   color: #0c0101;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
    text-align: center;
    color: white;
}

a {
    float: right;
    background: rgb(183, 225, 233);
    padding: 10px 15px;
    color: #fff;
	background-color: grey;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

a:hover{
    opacity: .7;
}

textarea {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

select {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

article {
    width: 1000px;
    border: 3px solid rgb(177, 142, 142);
    padding: 20px;
    margin-bottom: 20px;
    background: rgb(64, 64, 64);
    border-radius: 20px;
}

article p {
    color: white
}


.sprsml{
    margin-top: 300px;    
}